{% extends 'base.html' %}
{% block title %}{% endblock %}
{% block body %}
{% block content %}
<div class="container login">
    <div class="jumbotron">
            {% include '_form_errors.html' %}
        <form method="POST">
            {{ form.hidden_tag() }}
            <div class="form-group">
                {{ form.email.label }}
                {{ form.email (class="form-control", placeholder="Enter email", **{'aria-describedby': "emailHelp"})}}
            </div>
            <div class="form-group">
                {{ form.password.label }}
                {{ form.password (class="form-control", placeholder="Password")}}
            </div>
            <div class="form-row">
                <div class="col form-check">
                    {{ form.remember_me}}
                    {{ form.remember_me.label }}
                </div>
                <div class="col">
                    <a href="{{ url_for('auth.forgot_password')}}">Forgot Password</a>
                </div>
            </div>
            {{ form.submit (class="btn btn-primary")}}
            </form>
    </div>
</div>
{% endblock %}
{% endblock %}