{% extends 'base.html' %}
{% block title %}{% endblock %}
{% block body %}
{% block content %}
<div class="container">
        {% if form.errors %}
        <ul class="errors">
            {% for field_name, field_errors in form.errors|dictsort if field_errors %}
                {% for error in field_errors %}
                    <li class="alert alert-warning">{{ form[field_name].label }}: {{ error }}</li>
                {% endfor %}
            {% endfor %}
        </ul>
    {% endif %}
    <div class="jumbotron">
        <form method="POST">
            {{ form.hidden_tag() }}
            <div class="form-row">
                <div class="col">
                    {{ form.firstname.label }}
                    {{ form.firstname(class="form-control", placeholder="First name") }}
                </div>
                <div class="col">
                    {{ form.lastname.label }}
                    {{ form.lastname(class="form-control", placeholder="Last name") }}
                </div>
            </div>
            <div class="form-group">
                {{ form.email.label }}
                {{ form.email (class="form-control", placeholder="Enter email", **{'aria-describedby': "emailHelp"})}}
            </div>
            <div class="form-group">
                {{ form.phone.label }}
                {{ form.phone (class="form-control", placeholder="Phone Number")}}
            </div>
            <div class="form-group">
                {{ form.password.label }}
                {{ form.password(class="form-control", placeholder="Password")}}
            </div>
            <div class="form-group">
                {{ form.confirm_password.label }}
                {{ form.confirm_password(class="form-control", placeholder="Confirm Password")}}
            </div>
            {{ form.submit (class="btn btn-primary")}}
        </form>
    </div>
    <span>Emails powered by SendGrid</span>
</div>
{% endblock %}
{% endblock %}