{% extends 'base.html' %}
{% block title %}{% endblock %}
{% block body %}
{% block content %}
<div class="jumbotron">
    <h3>Hello {{ current_user.name }}</h3>
    <span><strong>You have not Confirmed your account yet.</strong></span>
    <p>Before you can access this site you need to confirm your account. Check your inbox, you should have received an email wit a confirmation link. <br>Need another confirmation email? <a href="{{ url_for('auth.resend_confirmation') }}">Resend Link</a></p>
</div>
{% endblock %}
{% endblock %}