<ul class="comments">
    {% for comment in comments %}
    <li class="comment">
        <div class="comment-content">
            <div class="profile-thumbnail">
                <a href="{{ url_for('.profile', id=comment.author.id, firstname=comment.author.firstname) }}">
                    <img class="rounded-circle profile-thumbnail" src="{{ comment.author.gravatar(size=40) }}">
                </a>
            </div>
            <div class="comment-date">{{ moment(comment.timestamp).fromNow() }}</div>
            <div class="comment-author">
                <a href="{{ url_for('.profile',id=comment.author.id) }}">
                    {{ comment.author.firstname }}
                </a>
            </div>
            <div class="comment-body">
                {% if comment.disabled %}
                <p></p><i>This comment has been disabled by a moderator.</i></p>
                {% endif %}
                {% if moderate or not comment.disabled %}
                {{ comment.body }}
                {% endif %}</div>
            {% if moderate %}
            <br>
            {% if comment.disabled %}
            <a class="btn btn-default btn-xs" href="{{ url_for('.moderate_enable',
id=comment.id, page=page) }}">Enable</a>
            {% else %}
            <a class="btn btn-danger btn-xs" href="{{ url_for('.moderate_disable',
id=comment.id, page=page) }}">Disable</a>
            {% endif %}
            {% endif %}
            <div class="float-right comment-footer">
                {% if current_user == comment.author %}
                <a href="{{ url_for('.edit_comment', id=comment.id) }}">
                    <span class="label label-primary">Edit</span>
                </a>
                <a href="{{ url_for('.delete_comment', id=comment.id) }}">
                    <span class="label label-primary">Delete</span>
                </a>
                {% elif current_user.is_administrator() %}
                <a href="{{ url_for('.edit_comment', id=comment.id) }}">
                    <span class="label label-danger">Edit [Admin]</span>
                </a>
                <a href="{{ url_for('.delete_comment', id=comment.id) }}">
                    <span class="label label-primary">Delete</span>
                </a>
                {% endif %}
            </div>
        </div>
    </li>
    {% endfor %}
</ul>