<ul class="posts">
    {% for post in posts %}
    <li class="post-col">
        <img class="img-fluid post-image" src="{{ post.image_url }}">
        <br><br>
        <div class="post-content">
            <div class="text-center">
                <a href="{{ url_for('.profile', id=post.author.id) }}">
                        {% if post.author.profile_photo_path %}
                        <img class="img-fluid rounded-circle profile-pic-small" src="{{ post.author.user_image() }}" alt="">
                        {% else %}
                        <img class="rounded-circle" src="{{ post.author.gravatar(size=40) }}">
                        {% endif %}
                </a>&nbsp&nbsp
                <em>Article by </em><a href="{{ url_for('.profile',id=post.author.id) }}">
                    {{ post.author.firstname }}
                </a>&nbsp&nbsp, {{ moment(post.timestamp).fromNow() }}
            </div><br>
            <div class="text-center">
                <h4 class="text-center font-weight-bold">{{ post.subject }}</h4>
                <!-- <div class="post-body">{{ markup(post.body) }}</div> -->
                <br><a href="{{ url_for('home.view_post', id=post.id) }}" class="btn btn-primary readmore-btn">Read
                    Article</a>
            </div>
            <div class="post-tags mt-2 text-center">
                {% for tag in post.tags %}
                <span data-toggle="tooltip" data-placement="bottom" data-html="true" title="<strong>{{ tag.posts.count() }} Articles tagged</strong><br>{{ tag.description }}"><a
                        href="{{ url_for('.tag_posts', tag_name=tag.name.lower()) }}">{{ tag.name }}</a></span>
                {% endfor %}
            </div>
        </div>
    </li>
    {% endfor %}
</ul>