{% extends 'base.html' %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "_macros.html" as macros %}
{% block title %}{% endblock %}
{% block body %}
{% block content %}
<div class="container-fluid bg">
    <div class=" mx-auto text-center bg-content">
        <!-- <hr> -->
        <h1 class="mx-auto font-weight-bold">Discipleship, Evangelism, Missions and Leadership
            Development</h1><br>
        {% if current_user.can(Permission.WRITE_ARTICLES) %}
        <a class="btn btn-primary" href="{{ url_for('home.write_article') }}">
            <h4><i class="fa fa-pencil-square-o"></i> Write article</h4>
        </a>
        {% endif %}
        <!-- <hr> -->
    </div>
</div>
<div class="container-fluid mt-5">
        <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a class="nav-link {% if not show_followed %}active{% endif %}" href="{{ url_for('.show_all_posts') }}">All</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if show_followed %}active{% endif %}" href="{{ url_for('.show_followed_user_posts') }}">Followed</a>
                </li>
            </ul>
    <div class="container">
        {% include 'home/_posts.html' %}
    </div>
    <div class="container mx-auto pagination">
        {{ macros.pagination_widget(pagination, '.home_page') }}
    </div>
</div>
{% endblock %}
{% endblock %}