{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block title %}{% endblock %}
{% block body %}
{% block content %}
{% for post in posts %}
<div class="jumbotron">
    <img class="img-fluid rounded mx-auto d-block post-image" src="{{ post.image_url }}">
    <br><br><div class="post-content">
        <div class="text-center">
            <a href="{{ url_for('.profile', id=post.author.id) }}">
                    {% if post.author.profile_photo_path %}
                    <img class="rounded-circle profile-thumbnail" src="{{ post.author.profile_photo_path }}" alt="" height="40" width="40"
                    {% else %}
                    <img class="rounded-circle profile-thumbnail" src="{{ post.author.gravatar(size=40) }}">
                    {% endif %}
            </a>&nbsp&nbsp
            <a href="{{ url_for('.profile',id=post.author.id) }}">
                <em> by </em>{{ post.author.firstname }}
            </a>&nbsp&nbsp, {{ moment(post.timestamp).fromNow() }}
        </div><br>
        <div class="">
            <h2 class="text-center font-weight-bold">{{ post.subject }}</h2>
            <p class="">{{ markup(post.body) }}</p>
        </div>
        <div class="post-tags mt-2 text-center">
            <span>
                {% for tag in post.tags %}
                <span data-toggle="tooltip" data-placement="bottom" data-html="true" title="<strong>{{ tag.posts.count() }} Articles with this tag</strong><br>{{ tag.description }}"><a href="{{ url_for('.tag_posts', tag_name=tag.name.lower()) }}">{{ tag.name }}</a></span>,
                {% endfor %}
            </span>
        </div>
        <div class="float-right">
            {% if current_user == post.author or current_user.is_administrator() %}
            <a class="btn btn-success" href="{{ url_for('.edit_post', id=post.id) }}">Edit</a>
            <a class="btn btn-danger" href="{{ url_for('.delete_post', id=post.id) }}">Delete</a>
            {% endif %}
            {% if current_user.is_administrator() and not post.is_approved() %}
            <a class="btn btn-primary" href="{{ url_for('admin.approve_article', id=post.id) }}">Approve</a>
            {% endif %}
        </div>
    </div>
    {% endfor %}
    <div class="comment-form jumbotron mx-auto">
        {% include '_form_errors.html' %}
        {{ wtf.quick_form(form) }}
    </div>
    {% include 'home/_comments.html' %}
</div>
{% endblock %}
{% endblock %}