{% extends 'base.html' %}
{% import "_macros.html" as macros %}
{% block title %}{% endblock %}
{% block body %}
{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-4 p-5">
            {% if user.profile_photo_path %}
            <img class="img-fluid rounded img-thumbnail profile-pic" src="{{ user.profile_photo_path }}" alt="">
            {% else %}
            <img class="rounded img-thumbnail profile-pic" src="{{ user.gravatar(size=256) }}">
            {% endif %}
            <a class="change-image" href="{{ url_for('.upload_profile_photo') }}">Change picture</a>
        </div>
        <div class="col-md-4  p-5">
            <h1>{{ user.firstname +' '+ user.lastname }}</h1>
            {% if current_user.is_administrator() %}
            <p><a href="mailto:{{ user.email }}">{{ user.email }}</a></p>
            {% endif %}
            {% if user.about_me %}<p>{{ user.about_me }}</p>{% endif %}
            <p>
                Member since <em>{{ moment(user.member_since).format('L') }}</em>.
                Last seen <i>{{ moment(user.last_seen).fromNow() }}</i>.
            </p>
            {% if current_user == user %}
            <a class="btn btn-success" href="{{ url_for('home.profile_update') }}">Edit Profile</a>
            <a class="btn btn-danger" href="{{ url_for('auth.delete_account_initial_step') }}">Delete Account</a>
            {% endif %}<br><br>
            {% if current_user.is_administrator() %}
            <span><a href="{{ url_for('admin.edit_userprofile', id=user.id) }}">Edit User Profile</a></span>
            {% endif %}
            {% if current_user.can(Permission.FOLLOW) and user != current_user %}
            {% if not current_user.is_following(user) %}
            <a href="{{ url_for('.follow', id=user.id) }}" class="btn btn-primary">Follow</a>
            {% else %}
            <a href="{{ url_for('.unfollow', id=user.id) }}" class="btn btn-primary">Unfollow</a>
            {% endif %}
            {% endif %}
            <a href="{{ url_for('.followers', id=user.id) }}">
                Followers: <span class="badge">{{ user.followers.count() }}</span>
            </a>
            <a href="{{ url_for('.following', id=user.id) }}">
                Following: <span class="badge">{{ user.followed.count() }}</span>
            </a>
            {% if current_user.is_authenticated and user != current_user and
            user.is_following(current_user) %}
            | <span class="label label-default">Follows you</span>
            {% endif %}
        </div>
        <div class="col-md-2"></div>
    </div>
</div>
<div class="container">
    {% include 'home/_posts.html' %}
</div>
{% endblock %}
{% endblock %}