{% extends 'base.html' %}
{% import "bootstrap/wtf.html" as wtf %}
{% block title %}{% endblock %}
{% block body %}
{% block content %}
<div class="container-fluid">
    <div class="jumbotron">
        {% include '_form_errors.html' %}
        {{ wtf.quick_form(form) }}
    </div>
</div>
{% endblock %}
{% endblock %}