{% extends 'base.html' %}
{% import "_macros.html" as macros %}
{% block title %}{% endblock %}
{% block body %}
{% block content %}
<div class="container-fluid mt-5">
    <br>
    <h3 class="text-center font-weight-bold mt-5">Articles Tagged: {{ tag_name.capitalize() }}</h3><br>
    {% include 'home/_posts.html' %}
</div>
<div class="container mx-auto pagination">
    {{ macros.pagination_widget(pagination, '.tag_posts', tag_name=tag_name) }}
</div>
{% endblock %}
{% endblock %}