{% extends 'base.html' %}
{% block title %}{% endblock %}
{% block body %}
{% block content %}
<div class="container-fluid mt-3">
    <div class="jumbotron">
            {% if current_user.is_administrator() %}
            <a class="btn btn-primary" href="{{ url_for('admin.add_tag') }}">Add Topics</a>
            {% endif %}
        <ul>
            {% for topic in topics %}
            <li><a href="{{ url_for('.tag_posts', tag_name=topic.name.lower()) }}">{{ topic.name }}</a></li>
            {% endfor %}
        </ul>
    </div>
</div>
{% endblock %}
{% endblock %}