{% extends "base.html" %}
{% block title %}{% endblock %}
{% block body %}
{% block content %}
<div class="container">
    <div class="jumbotron">
        {% include '_form_errors.html' %}
        <form method="POST" enctype="multipart/form-data">
            {{ form.hidden_tag() }}
            <div class="form-group">
                {{ form.subject.label }}
                {{ form.subject(class="form-control") }}
            </div>
            <div class="form-group">
              {{ form.post_image.label }}
              {{ form.post_image(class="form-control") }}
          </div>
            <div class="form-group">
                {{ form.body.label }}
                {{ form.body(type='hidden') }}
                <div class="" id="editor-container"></div>
            </div>
            <div class="form-group">
                {{ form.tag.label }}
                {{ form.tag(class="form-control") }}
            </div>
            <!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#post-preview">
    Preview
  </button>
            {{ form.submit(class="btn btn-primary") }}
        </form>
    </div>
</div>
  
  <!-- Modal -->
  <div class="modal fade" id="post-preview" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalCenterTitle">Article Preview</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body" id="modal-body"></div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
{% endblock %}