/* GENERAL CUSTOM STYLINGS */
body,
html {
  height: 100%;
  background: #f0f0f0;
}
.active {
    background: blue;
}
.bg {
  background-image: url("../img/bg.jpeg");
  height: 70%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#editor-container {
  height: 375px;
  background: #ffffff;
}
.page-footer {
  clear: both;
}
.bg-content {
  position: absolute;
  top: 17%;
  color: #ffffff;
}
.profile-pic {
  position: absolute;
  width: 265px;
}
.profile-pic-small {
  height: 40px;
  widows: 40px;
}
.change-image {
  background-color: #000;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  bottom: 0;
  color: #fff;
  opacity: 0.8;
  padding: 4px;
  font-size: 30px;
  position: absolute;
  text-align: center;
  width: 265px;
}
ul {
  list-style-type: none;
}
.profile-header {
  min-height: 260px;
  margin-left: 280px;
}
div.errors {
  /* position: absolute; */
  padding: 0;
  margin-top: 70px;
}
.post-col {
  display: inline-table;
  width: 30.45%;
  margin: 10px;
  background: #ffffff;
}
.post-content {
    padding: 5px;
}
@media (max-width: 1024px) {
  .post-col {
    width: 100%;
    margin: 5px 0;
  }
  .container {
    padding: 0;
  }
  .post-content {
    padding: 15px;
}
}
div.post-tabs {
  margin-top: 16px;
}
ul.posts {
  list-style-type: none;
  padding: 0px;
  margin: 16px 0px 0px 0px;
}
div.post-tabs ul.posts {
  margin: 0px;
  border-top: none;
}
div.post-body {
  padding: 10px;
  height: 100px;
  overflow: hidden;
}
.font-white {
  color: #ffffff;
}
.post-tags {
    color: blue;
}
ul.posts li.post:hover {
  background-color: #f0f0f0;
}
div.post-date {
  float: right;
}
div.post-author {
  font-weight: bold;
}
div.post-thumbnail {
  position: absolute;
}
div.post-content {
  min-height: 48px;
}
div.post-footer {
  text-align: right;
}
ul.comments {
  list-style-type: none;
  padding: 0px;
  margin: 16px 0px 0px 0px;
}
ul.comments li.comment {
  padding: 8px;
  border-bottom: 1px solid #e0e0e0;
}
ul.comments li.comment:nth-child(1) {
  border-top: 1px solid #e0e0e0;
}
ul.comments li.comment:hover {
  background-color: #f0f0f0;
}
div.comment-date {
  float: right;
}
div.comment-author {
  font-weight: bold;
}
div.comment-thumbnail {
  position: absolute;
}
div.comment-content {
  margin-left: 10px;
  min-height: 48px;
}
div.comment-form {
  margin: 16px 0px 16px 32px;
}
div.pagination {
  width: 100%;
  padding: 0px;
  justify-content: center;
}
.pagination li {
    padding: 8px;
    font-size: 25px;
    color: #ffffff;
}
.pagination li a{
    color: #ffffff;
}
div.flask-pagedown-preview {
  margin: 10px 0px 10px 0px;
  border: 1px solid #e0e0e0;
  padding: 4px;
}
div.flask-pagedown-preview h1 {
  font-size: 140%;
}
div.flask-pagedown-preview h2 {
  font-size: 130%;
}
div.flask-pagedown-preview h3 {
  font-size: 120%;
}
.post-body h1 {
  font-size: 140%;
}
.post-body h2 {
  font-size: 130%;
}
.post-body h3 {
  font-size: 120%;
}
.table.followers tr {
  border-bottom: 1px solid #e0e0e0;
}

/* MEDIA QUERIES */
@media (max-width: 600px) {
  body {
    padding: 0;
  }
  .container-fluid {
    padding: 0;
  }
}
