{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block title %}{% endblock %}
{% block body %}
{% block content %}
<div class="page-header">
<h1>Add Tag</h1>
</div>
<div>
{{ wtf.quick_form(form) }}
</div>
{% endblock %}
{% endblock %}