{% extends 'base.html' %}
{% block title %}{% endblock %}
{% block body %}
{% block content %}
<div class="container">
        {% if form.errors %}
        <ul class="errors">
            {% for field_name, field_errors in form.errors|dictsort if field_errors %}
                {% for error in field_errors %}
                    <li class="alert alert-warning">{{ form[field_name].label }}: {{ error }}</li>
                {% endfor %}
            {% endfor %}
        </ul>
    {% endif %}
    <div class="jumbotron">
        <form method="POST">
            {{ form.hidden_tag() }}
            <div class="form-group">
                {{ form.email.label }}
                {{ form.email (class="form-control", placeholder="Enter email", **{'aria-describedby': "emailHelp"})}}
            </div>
            <div class="form-group">
                {{ form.phone.label }}
                {{ form.phone (class="form-control", placeholder="Phone Number")}}
            </div>
            <div class="form-group">
                {{ form.confirmed.label(class="form-check-label") }}
                {{ form.confirmed }}
            </div>
            <div class="form-group">
                {{ form.role.label }}
                {{ form.role(class="form-control")}}
            </div>
            {{ form.submit (class="btn btn-primary")}}
        </form>
    </div>
</div>
{% endblock %}
{% endblock %}