{% extends 'base.html' %}
{% block title %}{% endblock %}
{% block body %}
{% block content %}
<div class="container">
    <div class="jumbotron">
        <form method="POST">
            {{ form.hidden_tag() }}
            <div class="form-group">
                {{ form.email.label }}
                {{ form.email (class="form-control", placeholder="Enter email", **{'aria-describedby': "emailHelp"})}}
            </div>
            {{ form.submit (class="btn btn-primary")}}
            </form>
    </div>
</div>
{% endblock %}
{% endblock %}