<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico') }}" type="image/x-icon">
  <title>{{ title }} | Kenyatta University Christian Union</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link href="https://cdn.quilljs.com/1.2.6/quill.snow.css" rel="stylesheet">
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
    crossorigin="anonymous"></script>
<script src="https://cdn.quilljs.com/1.2.6/quill.min.js"></script>

  {{ moment.include_moment() }}
</head>

<body style="margin-top: 48px;">
  <!-- Navigation bar -->
  <nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="{{ url_for('home.home_page') }}">
      <img src="{{ url_for('static', filename='img/logo.png') }}" width="30" height="30" class="d-inline-block align-top"
        alt="">
      KUCU Blog
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav  ml-auto">
        <li class="nav-item {% if active=='home' %}active{% endif %}">
          <a class="nav-link" href="{{ url_for('home.home_page') }}">Home</a>
        </li>
        <li class="nav-item {% if active=='topics' %}active{% endif %}">
          <a class="nav-link" href="{{ url_for('home.topics') }}">Topics</a>
        </li>
        {% if not current_user.is_authenticated %}
        <li class="nav-item {% if active=='register' %}active{% endif %}">
          <a class="nav-link" href="{{ url_for('auth.register') }}">Sign up</a>
        </li>
        <li class="nav-item {% if active=='login' %}active{% endif %}">
          <a class="nav-link" href="{{ url_for('auth.login') }}">Sign in</a>
        </li>
        {% else %}
        <li class="nav-item {% if active=='profile' %}active{% endif %}">
          <a class="nav-link" href="{{ url_for('home.profile', id=current_user.id) }}">{{ current_user.firstname }}</a>
        </li>
        {% if current_user.can(Permission.MODERATE_COMMENTS) %}
        <li class="nav-item {% if active=='moderate' %}active{% endif %}"><a class="nav-link" href="{{ url_for('home.moderate') }}">Moderate
            Comments</a></li>
        {% endif %}
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('auth.logout') }}">Sign out</a>
        </li>
        {% endif %}
      </ul>
    </div>
  </nav>
  {% with messages = get_flashed_messages() %}
  {% if messages %}
  <div class="container mx-auto errors">
    <ul class=flashes>
      {% for message in messages %}
      <li class="alert alert-primary">{{ message }}</li>
      {% endfor %}
    </ul>
  </div>
  {% endif %}
  {% endwith %}
  {% block content %}{% endblock %}
  <!-- Footer -->
  <div class="page-footer font-small special-color-dark pt-4">

    <!-- Footer Elements -->
    <div class="container">

      <!-- Social buttons -->
      <ul class="list-unstyled list-inline text-center">
        <li class="list-inline-item">
          <a class="btn-floating btn-fb mx-1">
            <i class="fa fa-facebook"> </i>
          </a>
        </li>
        <li class="list-inline-item">
          <a class="btn-floating btn-tw mx-1">
            <i class="fa fa-twitter"> </i>
          </a>
        </li>
        <li class="list-inline-item">
          <a class="btn-floating btn-gplus mx-1">
            <i class="fa fa-globe"> </i>
          </a>
        </li>
        <li class="list-inline-item">
          <a class="btn-floating btn-li mx-1">
            <i class="fa fa-linkedin"> </i>
          </a>
        </li>
        <li class="list-inline-item">
          <a class="btn-floating btn-dribbble mx-1">
            <i class="fa fa-instagram"> </i>
          </a>
        </li>
      </ul>
      <!-- Social buttons -->

    </div>
    <!-- Footer Elements -->

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2018 Copyright:
      <a href="https://kuchristianunion.org"> Kenyatta University Christian Union </a>
      <span> Made with <i style="color: red" class="fa fa-heart"> </i> by <a href="https://kucu-developers-portfolio.firebaseapp.com/#/">KUCU
          Developers</a></span>
    </div>
    <!-- Copyright -->

  </div>
  <!-- Footer -->
  <!-- JavaSrcipt files -->
  <script src="{{ url_for('static', filename='js/main.js') }}"></script>
  <script type="text/javascript">
    $(function () {
      $('[data-toggle="tooltip"]').tooltip()
    })
  </script>
</body>

</html>